.bgimg {
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index:-1;
  opacity:1;
}

.heading{
  font-size: 50px;
}

#temp{
  display: inline;
}

.data{
  margin-top: 10%;
}

#scale{
  font-size: 24px;
}